name: bloop Build & Test

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'bloop'

permissions:
  contents: read
  issues: read
  pull-requests: write
  checks: write

env:
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
 
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: | 
          10.0.x

    - name: 'Restore external dependencies'
      run: dotnet restore

    - name: 'Build'
      id: build
      run: dotnet build bloop --configuration Debug --no-restore

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: build-artifacts
        path: |
          bloop/bin/**
        retention-days: 5

    - name: 'Test'
      id: test
      run: dotnet test bloop --no-build --restore --collect:"XPlat Code Coverage" --logger junit

    - name: 'Create test summary'
      uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
      with:
        paths: test/**/TestResults.xml
        show: "fail, skip"
      if: always()
