name: bloop Build, Sign & Release

on:
  workflow_dispatch:
    inputs:
      public_release:
        description: 'Public Release'
        type: boolean
        required: true
        default: true
      perform_sign:
        description: 'Sign'
        type: boolean
        required: true
        default: true
      perform_release:
        description: 'Release'
        type: boolean
        required: true
        default: false

env:
  DOTNET_NOLOGO: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  outputDirectory: ${{ github.workspace}}/app

jobs:
  build:
    permissions:
      contents: read

    name: Build app
    runs-on: ubuntu-latest

    outputs:
      version_stamp: ${{ steps.version-stamp.outputs.version_stamp }}

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
 
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: | 
          10.0.x

    - name: 'Configure Versioning'
      uses: dotnet/nbgv@f088059084cb5d872e9d1a994433ca6440c2bf72 # v0.4.2
      with:
        setAllVars: true
        path: ./bloop
    - run: |
        echo "Stamping as v$NBGV_SemVer2"

    - name: 'Build x64'
      id: buildx64
      run: dotnet publish bloop -c Release -r win-x64 -p:PublishSingleFile=true --self-contained true -o ${{ env.outputDirectory }}/x64 --property:PublicRelease=${{ inputs.public_release }}

    - name: 'Build arm64'
      id: buildarm
      run: dotnet publish bloop -c Release -r win-arm64 -p:PublishSingleFile=true --self-contained true -o ${{ env.outputDirectory }}/arm64 --property:PublicRelease=${{ inputs.public_release }}

    - name: 'Set Version Stamp'
      id: version-stamp
      run: echo version_stamp=$NBGV_SemVer2 >> "$GITHUB_OUTPUT"

    - name: 'Rename exes for Architecture'
      shell: pwsh
      run : |
        Get-ChildItem "app\" "*.exe" -Recurse |
        foreach-object {
            Rename-Item -Path $_.FullName "$($_.BaseName)-$($_.Directory.Name)$($_.Extension)"
        }

    - name: Upload Unsigned Artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: unsigned-executables
        path: |
          ${{ env.outputDirectory }}/**/bloop*.exe
        retention-days: 5

  sign:
    name: Sign app
    needs: build
    runs-on: windows-latest
    if:  ${{ inputs.perform_sign }} 
    environment: codeSign
    permissions:
      contents: read
      id-token: write
    steps:
    - name: 'Get .NET installed versions'
      run: dotnet --info

    - name: 'Install Sign CLI'
      run: dotnet tool install --tool-path ./sign --prerelease sign

    - name: 'Download Build Output'
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: unsigned-executables
        path : ${{ env.outputDirectory }}

    - name: Authenticate to Azure
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # 2.3.0
      with:
        allow-no-subscriptions : true
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Sign
      shell: pwsh
      run: >
        ./sign/sign code azure-key-vault
        **/bloop*.exe
        --base-directory ${{ env.outputDirectory }}
        --azure-key-vault-url "${{ secrets.AZURE_KEY_VAULT_URL }}"
        --azure-key-vault-certificate "${{ secrets.AZURE_KEY_VAULT_CERTIFICATE }}"
        --publisher-name "idunno.org"
        --description "Sign bloop.exe"
        --description-url "https://github.com/blowdart/idunno.Bluesky.Utils"

    - name: Upload Signed exes
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: signed-artifacts
        path: |
          ${{ env.outputDirectory }}/**/bloop*.exe
        retention-days: 7

  release:
    name: Release app
    needs: [build, sign]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    env:
      TAG: bloop/${{needs.build.outputs.version_stamp}}

    if: ${{ inputs.perform_release }} 
    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: Stamping version
      run: |
        echo Stamping release as $tag

    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Tag Source
      uses: rickstaa/action-create-tag@a1c7777fcb2fee4f19b0f283ba888afa11678b72 # v1.7.2
      with:
        tag: ${{env.TAG}}

    - name: 'Download Signed Artifacts'
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: signed-artifacts
        path : ${{ env.outputDirectory }}

    - name: Create Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b #v2.5.0
      with:
        fail_on_unmatched_files: true
        files: ${{ env.outputDirectory }}/**/*.exe
        make_latest: true
        name: bloop v${{needs.build.outputs.version_stamp}}
        tag_name: ${{env.TAG}}
