name: blueskyVideoDownloader Build & Test

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'blueskyVideoDownloader'

permissions:
  contents: read
  issues: read
  pull-requests: write
  checks: write

env:
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
 
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: | 
          10.0.x

    - name: 'Restore external dependencies'
      run: dotnet restore

    - name: 'Build'
      id: build
      run: dotnet build BlueskyVideoDownloader --configuration Debug --no-restore

    - name: 'Test'
      id: test
      run: dotnet test BlueskyVideoDownloader --no-build --restore --collect:"XPlat Code Coverage" --logger junit

    - name: 'Create test summary'
      uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
      with:
        paths: test/**/TestResults.xml
        show: "fail, skip"
      if: always()

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: build-artifacts
        path: |
          BlueskyVideoDownloader/bin/**
        retention-days: 5
